#!/bin/bash

# Install core packages
sudo apt update && sudo apt install -y \
  vim \
  git \
  curl \
  wget \
  htop \
  make \
  cmake \
  build-essential \
  libssl-dev \
  zlib1g-dev \
  libbz2-dev \
  libreadline-dev \
  libsqlite3-dev \
  llvm \
  libncursesw5-dev \
  xz-utils \
  tk-dev \
  libxml2-dev \
  libxmlsec1-dev \
  libffi-dev \
  liblzma-dev 

sudo snap install \
  gitui

